<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">
    <img src="http://kitvision.kondorweb.co.uk/wp-content/uploads/2016/12/repeat_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Ponz.io
  </a>
</nav>
