<li style="list-style-type: none"><ul>
{{#each children as |child|}}
  <li class="list-group-item" style="width: 250px; border-left: 2px solid #666">
  <span class="badge">{{{getPoints child.level ../user.level}}}</span> 
  {{child.username}} ponverted on {{child.prettydate}}</li>

  {{> ponvert_nesting children=child.children user=../user}}
{{/each}}
</ul></li>

